* {
  color: green;
}

h1 {
  color: red;
}

h1 {
  color: blue !important;
}

.title {
  color: aquamarine;
}

#my-title {
  color: purple;
}

h1.title#my-title,
#my-title strong {
  color: lightblue;
}
