<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}) %>
    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quibusdam rerum sequi, nesciunt tenetur totam vel distinctio natus
          possimus delectus neque eos fugiat! Iusto tenetur velit reiciendis molestias eaque quas.
        </p>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
