body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.box-red {
  width: 100px;
  height: 100px;
  background-color: #f00;
  border-radius: 100%;

  transition-property: all;
  transition-duration: 1s;
}

.box-red:hover {
  background-color: yellow;
  transition-property: background-color, width, height;
  transition-duration: 0.5s;
  width: 200px;
  height: 200px;
}
